<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = {
            "id": <%= current_user.id %>,
            "firstName": "<%= current_user.first_name %>"
            "email": "<%= current_user.email %>"
        };
    </script>
<% end %>

<script src="https://kit.fontawesome.com/8304861193.js" crossorigin="anonymous"></script>



<div id="root">Redux is not working</div>