/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
    height: 45px
}

.left-nav {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    font-size: larger;
}

.left-nav > span {
    padding: 9px 9px 11px 9px;
}

.right-nav {
    display: flex;
}

.logo {
    height: 35px;

}

.signup-button { 
    background-color: teal;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    height: 35px;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}

.signin-button{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    border-radius: 3px;
    height: 35px;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}


.fa-map-marker-alt:before {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
    padding: 9px 9px 11px 9px;
}
    
}

.fa-search:before {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
    padding: 9px 9px 11px 9px;
}

.modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.modal-form {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -230px;
    background: white;
    width: 450px;
    height: 600px;
    border-radius: 5px;
}

.splash-banner {
    width: 100%
}

.splash-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 400px;
}