/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



* {
 font-family: 'Josefin Sans', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: grey;
    background-color: rgb(186, 212, 212);
    margin-top: 15px;
    height: 100px;
}

.footer-left a{
    size: 7px;
    text-decoration: none;
    color: grey;
}


.footer-right > i {
    font-size: 30px;
    padding: 10px
}

label {
    font-size: 13px;
}

.fa, .far, .fas {
    font-family: 'Josefin Sans', sans-serif;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px 10px 10px;
    width: 300px;
    margin: 8px;
    border: 1px #cec4c4 solid;
    height: 24px;
}

.modal-header {
    margin-top: 30px;
    right: 50px;
}

.sign-inup {
    height: 29px;
}

form * {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button {
    background-color: #db3434;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    height: 45px;
    margin: auto;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 45px
}

.left-nav {
     display: flex;
    /* flex-direction: row; */
    /* font-family: 'Josefin Sans', sans-serif; */
    padding: 9px 9px 11px 9px;
    font-size: 22px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page {
    color: black;
    /* padding: 9px 9px 11px 9px; */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-name {
    padding: 3px
}

.logo {
    height: 35px;
    padding-right: 5px;
}

.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  margin: auto;
  outline: none;
  margin-left: 57px;
}

.account-button p {
    color: rgb(203, 50, 50);
}

.account-button:hover{
    text-decoration:underline;
}

.signup-button { 
    background-color: teal;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    /* height: 35px; */
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}

.signin-button{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    border-radius: 3px;
    /* height: 35px; */
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}

.user-dropdown {
    margin-right: 30px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 200;
}

.user-dropdown-menu {
    background-color: white;
    z-index: 50;
    right: 25px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 174px;
    height: 140px;
    color: gray; 
    padding-top: 25px;
    z-index: 120;
    cursor: pointer;
}

.user-dropdown-menu > span:hover {
    transform: scale(1.05);
}

/* mag glass */
/* .fa-map-marker-alt:before {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
    padding: 9px 9px 11px 9px;
} */
    

.fa-search:before {
    /* display: inline-block; */
       /* display: inline-block; */
    font-size: 20px;
    width: 50px;
    /* height: 50px; */
    /* text-align: center; */
    /* vertical-align: bottom; */
    padding: 9px 9px 11px 9px;
}

.modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 105;
}

.modal-form {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -230px;
    background: white;
    width: 450px;
    /* height: 500px; */
    padding-bottom: 10px;
    border-radius: 5px;
}

.errors-list li {
    list-style-position: inside;
    padding-left: 0;
    color: rgb(232, 64, 64);
    font-size: 15px;
}

/* ///////////////////////////////////// */

.restaurant-detail-sidebar {
    width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
    /* font-size: larger; */
}

.restaurant-detail-sidebar a {
    color: rgb(217, 57, 57);
    font-size: 13.5px;
    text-decoration: none;
    margin-left: 5px;
}

.restaurant-detail-sidebar p {
   font-size: 14.5px;
}

.restaurant-detail-sidebar span {
    font-size: 14px;
    font-weight: bold;
}

.restaurant-detail-sidebar li {
    font-size: 12px;
}

#map {
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 15px;
    border: grey 1px solid;
    z-index: 0.5;
}


.reservation-form-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 ;
    margin-left: 40px;
}

.res-form {
     position: -webkit-sticky;
    /* position: sticky; */
    /* top: 0; */
    z-index: 100;
    height: 315px;
    /* width: 350px; */
    border-style: groove;
    /* border-color: rgb(205, 199, 199); */
    border-width: 1px;
    padding-bottom: 14px;
    /* font-size: small; */
    /* font-size: medium; */
    background-color: white;
}

.res-form * {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px;
    /* display: flex; */
    align-items: center;
    justify-content: center;}
    
    .res-form select {
        padding: 9px 9px 11px 9px;
    }
    
    .party-size {
        width: 260px;
    }
    
    .date {
        width: 130px;
    }
    
    .fa-star-half-full{
        color: red
    }

    .checked {
        color: red;
    }
    
    .clear {
        color:rgb(217, 213, 213);
    }
    
    
    .bar-chart-container{
        width: 100%;
    }

    .bar-chart {
        width: 100%;
        margin-left: 8px;
    }
    
    .bar-outside {
        border: 1px solid #b3aeae;
        height: 15px;
    }
    
    .bar-inside {
        background-color: red;
        height: 14.9px
    }

    .rating-columns{
        display: inline-flex;
        /* flex-direction: row;
        justify-content: space-around; */
        font-size: 14px;
    }

    .individual-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9px;
    }
    
    .review-container {
        display: flex;
        
    }

    .reviewer-name {
        padding-top: 10px;
        text-align: center;
        width: 50px
    }

    .reviewer-name p {
        color: grey;   
        padding: 0;
    }

    .review-body {
        padding-left: 30px;

    }

    .review-body > ul {
     padding: 0
    }

    .review-body  li{
        display: inline;
        font-size: smaller;
        font-weight: bold;
    }

    .review-body span {
        color: rgb(246, 55, 55);
    }

    .circle-container {
        align-items: center;
    }

    .circles {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgb(110, 208, 172);
    }

    .circles p {
        text-align: center;
        line-height: 60px;
    }
    
    .search-results {
    margin: 60px;
 }

    .results-item {
        display: flex;
    }

    .pic-container {
        height: 220px;
        width: 220px;
        margin: 20px;
    }

    .food-pic {
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 5px;
    }

    .info {
        height: 220px;
        width: 320px;
        margin-top: 13px;
    }

    .info  p:first-child {
        padding: 5px;
        text-decoration: none;
        color: teal;
        font-size: 20px;
    }

    /* .search-results-div{ */
        /* display: flex; */
        /* width: 100%; */
    
/* 
    .search-results-form, form {
        display: flex;
        width: 60%;
    } */

    /* .search-results-form.party-size {
        width: 120px;
    } */

    /* #item {
          display: flex;
    flex-direction: column;
    margin: 60px;   
    } */
    
    .splash-six {
        /* position: absolute; */
        /* display: inline-table; */
        width: 100%;
    }
    
    .splash-row {
        display: flex;
        flex-wrap: wrap;
        /* width: 80%; */
        flex-direction: row;
        /* margin: auto; */
        justify-content: center;
    }
    
    .splash-pic {
        height: 170px;
        width: 380px;
        opacity: .85;
        padding: 8px;
        display: table-cell;
    }
    
    .splash-panel-container {
        position: relative;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .splash-panel-container > p {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: larger;
        font-weight: bolder;
        z-index: 3;
    }

    .splash-panel-container > button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: larger;
        font-weight: bolder;
        z-index: 3;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        font-weight: bolder;
        outline: none
    }
    
    .splash-banner {
        /* display: flex; */
        margin: auto;
    }
    
    .splash-banner-container {
        position: relative;
        text-align: center;
        
    }
    
    .splash-banner-container > h2 {
        position: absolute;
        color: aliceblue;
        width: 85%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 37px;
        z-index: 1;
        font-weight: 1200;
    }
    
    .splash-banner {
        width: 100%;
    }
    
    .splash-image {
        display: block;
        width: 100%;
        opacity: .90;
    }
    
    .search-form{
        display: flex;
        position: absolute;
        width: 85%;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .show-container {
        width: auto;
    }
    
    .logo-banner {
        width: 100%;
    }   

    .parent-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .restaurant-nav {
        display: inline-flex;
        justify-content: space-between;    
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100 ;
        background-color: white;
        width: 100%;
        border-bottom: 1px grey solid;
        padding-bottom: 3px;
    }

    .restaurant-nav > p {
        font-size: 16px;
        margin-right: 20px;
        height: 5px;
    }

    /* .restaurant-nav > p:first-child {
        color: rgb(231, 49, 49);
    } */

    .restaurant-info{
       margin-left: 180px;
    }
    .restaurant-info > h1{
       font-size: 45px;
       font-weight: bold;
    }
        
    .restaurant-info i, p {
        padding: 5px;
    }

.restaurant-sidebar {
      margin-right: 180px;
}

.aggregates-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews span{
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
}
  
.reviews p > span{
    padding: 0;
}

.confirm-form-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.confirm-form p{
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

.confirm-form-top-container {
    display: flex;
    justify-content: center;
}

.confirm-rest-info-container {
    display: flex;
}

.confirm-food-pic {
    height: 85px;
    width: 105px;
    border-radius: 5px;
}
  
.confirm-rest-info {
    width: 600px;
    margin-left: 40px;
}

.confirm-rest-info-line {
    display: flex;
}

.confirm-rest-info-line div {
    margin-right: 80px;
}

.confirm-input-box {
    width: 345px;
}

.confirm-form form div {
    display: flex;
}

.confirm-form form button {
    width: 750px
}

.confirm-disclaimers {
    width:250px;
    height: 340px
}

.user-page-container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.user-page-reservations-container {
    margin-left: 80px;
}

.user-food-pic {
    height: 100px;
    width: 100px;
}

.user-item-container {
    display: flex;
}

.user-rest-info > p {
    padding: 0;
    color: rgb(84, 81, 81);
    margin-left: 20px;
}