/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



* {
 font-family: 'Josefin Sans', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: grey;
    background-color: rgb(186, 212, 212);
    margin-top: 15px;
    height: 100px;
}

#linkedin {
    font-size: 30px;
    margin-right: 12px;
    color:rgb(59, 101, 180)
}

#github {
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

#angellist {
    font-size: 30px;
    color: black;
    margin-right: 10px;
}

.footer-left a{
    size: 7px;
    text-decoration: none;
    color: grey;
}

.footer-right > i {
    font-size: 30px;
    padding: 10px
}

label {
    font-size: 13px;
}

.fa, .far, .fas {
    font-family: 'Josefin Sans', sans-serif;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 10px 10px 10px;
    width: 300px;
    margin: 8px;
    border: 1px #cec4c4 solid;
    height: 24px;
    border-radius: 4px;
}

.modal-header {
    margin-top: 30px;
    right: 50px;
}

.sign-inup {
    height: 29px;
}

.modal-search-container {
    display: block;
    margin: auto
}

.modal-search-header {
    margin-left: 10px
}

.modal-search {
    display: flex;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.modal-search form {
    display: flex
}

.modal-search-date, .modal-party-size {
    width: 150px;
    border: 1px #c1b1b1 solid;
    padding-left: 4px;
}

.modal-form-button {
    background-color: #db3434;
    border: 1px #c1b1b1 solid;
    color: white;
    border-radius: 3px;
    height: 45px;
    margin: auto;
    width: 205px;
}

form * {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.form-button {
    background-color: #db3434;
    border: 1px #c1b1b1 solid;
    color: white;
    border-radius: 4px;
    height: 45px;
    margin: auto;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 45px
}

.left-nav {
    display: flex;
    font-size: 22px;
    align-items: flex-end;
    padding-bottom: 5px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-name {
    padding: 3px
}

.logo {
    height: 35px;
    padding-right: 5px;
}

.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  margin: auto;
  outline: none;
  margin-left: 57px;
}

.account-button p {
    color: rgb(203, 50, 50);
}

.account-button:hover{
    text-decoration:underline;
}

.signup-button { 
    background-color: teal;
    border: 1px #c1b1b1 solid;
    color: white;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}

.signin-button{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 9px 9px 11px 9px;
    margin: 5px;
    width: 70px;
}

.user-dropdown {
    margin-right: 30px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 200;
}

.user-dropdown-menu {
    background-color: white;
    z-index: 50;
    right: 25px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 174px;
    height: 100px;
    color: gray; 
    padding-top: 25px;
    z-index: 120;
    cursor: pointer;
}

.user-dropdown-menu > span:hover {
    transform: scale(1.05);
}


.fa-search:before {
    font-size: 20px;
    width: 50px;
    padding: 9px 9px 11px 9px;
}

.modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 105;
}

.modal-form {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -230px;
    background: white;
    width: 450px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.errors-list li {
    list-style-position: inside;
    padding-left: 0;
    color: rgb(232, 64, 64);
    font-size: 15px;
}

/* ///////////////////////////////////// */

.restaurant-detail-sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.restaurant-detail-sidebar a {
    color: rgb(217, 57, 57);
    font-size: 13.5px;
    text-decoration: none;
    margin-left: 5px;
}

.restaurant-detail-sidebar p {
   font-size: 14.5px;
}

.restaurant-detail-sidebar span {
    font-size: 14px;
    font-weight: bold;
}

.restaurant-detail-sidebar li {
    font-size: 12px;
}

#map {
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 15px;
    border: grey 1px solid;
    z-index: 0.5;
}

#search-map {
    height: 522px;
    width: 522px;
    margin-top: 40px;
}

.reservation-form-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 ;
    margin-left: 40px;
}

.res-form {
    position: -webkit-sticky;
    z-index: 100;
    border-style: groove;
    border-width: 1px;
    background-color: white;
}

.res-form * {
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px;
    align-items: center;
    justify-content: center;
}

.res-form-label {
    height: 25px;
}

.res-time-label {
    height: 36px;
}

.res-form select {
    padding: 9px 9px 11px 9px;
}

.party-size {
    width: 260px;
    padding-left: 4px;
    border: 1px #c1b1b1 solid;
}

.time {
    padding: 4px;
    border: 1px #c1b1b1 solid;
}

.date {
    width: 130px;
}

.fa-star-half-full{
    color: red
}

.checked {
    color: red;
}

.clear {
    color:rgb(217, 213, 213);
}

.bar-chart-container{
    width: 100%;
}

.bar-chart {
    width: 100%;
    margin-left: 8px;
}

.bar-outside {
    border: 1px solid #b3aeae;
    height: 15px;
}

.bar-inside {
    background-color: red;
    height: 14.9px
}

.rating-columns{
    display: inline-flex;
    font-size: 14px;
}

.individual-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}

.review-container {
    display: flex;
}

.reviewer-name {
    padding-top: 10px;
    text-align: center;
    width: 50px
}

.reviewer-name p {
    color: grey;   
    padding: 0;
}

.review-body {
    padding-left: 30px;
}

.review-body > ul {
    padding: 0;
    margin-left: 3px;
}

.review-body  li{
    display: inline;
    font-size: smaller;
    font-weight: bold;
}

.review-body span {
    color: rgb(246, 55, 55);
}

.circle-container {
    align-items: center;
}

.circles {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(110, 208, 172);
}

.circles p {
    text-align: center;
    line-height: 60px;
}
    
.search-results {
    margin-top: 40px;
    margin-left: 110px;
    margin-bottom: 40px;
}

.search-map-results { 
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.results-item {
    display: flex;
    margin-bottom: 60px;
}

.rest-time {
    display: flex;
}

.pic-container {
    height: 220px;
    width: 220px;
    margin: 20px;
}

.food-pic {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1px;
}

.map-food-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 10px;
}

.info {
    height: 220px;
    width: 320px;
    margin-top: 13px;
}

.map-info {
    height: 160px;
    margin-right: 30px;
}

.map-info a {
    padding: 0;
    margin-left: 10px;
    color: #368fad;
}

.map-stars {
    margin: 10px;
}

.splash-stars {
    margin: 8px;
    display: inline-flex;
    overflow: hidden;
}

.info p:first-child {
    padding: 5px;
    text-decoration: none;
    color: teal;
}

.map-list-button{
    height: 80px;
    margin-bottom: 30px; 
    cursor: pointer;
    text-decoration: none;
    margin-left: -10px;
}

.search-time-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1000 px) {
  .search-time-buttons {
    display: flex;
  }
}

.rest-time-buttons {
    display: flex;
    flex-wrap: wrap;
}

.reservation-times button {
    margin-left: 5px;
    width: 80px;
    background-color: #d43838;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.restaurant-show-times {
    margin: 0%;
}

.restaurant-show-times button {
    margin-left: 2px;
    background-color: #d43838;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

.search-results-container {
    display: flex;
}

.map-search-results-container {
    display: flex;
}

.filter-locations {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 70px;
}

.map-filter-locations {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 70px;
}

.list-button {
    height: 35px;
    width: 85px;
    margin-bottom: 30px;
    background-color: #368fad;
    border-radius: 5px;
    border: none;
}

.fa-list {
    color: white
}

.filter {
    display: flex;
    height: 30px;
}

.filter-room {
    display: flex;
    height: 30px;
    margin-top: 25px;
}

.filter-input {
    width: 18px;
    margin-top: 15px;
    cursor: pointer;
}

    
.splash-six {
    width: 100%;
}

.splash-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.splash-feature-area {
    margin-left: 40px;
    margin-right: 40px;
}

.splash-pic {
    height: 170px;
    width: 380px;
    opacity: .85;
    padding: 8px;
    display: table-cell;
}

.splash-panel-container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.splash-panel-container > p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: bolder;
    z-index: 3;
}

.splash-panel-container > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: bolder;
    z-index: 3;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    outline: none
}
    
.splash-banner {
    margin: auto;
}

.splash-banner-container {
    position: relative;
    text-align: center;
}

.splash-banner-container > h2 {
    position: absolute;
    color: ivory;
    width: 85%;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    z-index: 1;
    font-weight: 1200;
}
    
.splash-banner {
    width: 100%;
}
    
.splash-image {
    display: block;
    width: 100%;
    opacity: .90;
    margin-top: 8px;
}

.splash-item {
    display: flex;
    margin-bottom: 20px;
}

.splash-carousel-trending-header {
    margin-left: 40px;
    margin-right: 40px;
}

.splash-carousel {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    overflow: auto;
    white-space: nowrap;
}

.splash-carousel-info {
    height: 160px;
    margin-right: 30px;
    width: 200px;
}

.splash-carousel-info p{
    padding: 0;
    margin-left: 8px
}

.splash-carousel-info a{
    text-decoration: none;
    font-weight: 1000;
    color: black;
}

.splash-carousel-food-pic {
    width: 238px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.splash-carousel-container {
    border: 1px rgb(174, 171, 171) solid;
    height: 290px;
    margin: 10px;
    border-radius: 4px;
    width: 238px;
}

.splash-reviews {
    display: flex;
    flex-direction: row;
}

.splash-reviews-label {
    margin-left: 10px;
    margin-top: 10px;
}

.splash-number-bookings {
    margin: 10px;
    font-weight: 800;
}
    
.search-form{
    display: flex;
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.show-container {
    width: auto;
}

.show-favorite-button {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: inherit;
}

.logo-banner {
    width: 100%;
    height: 180px;
    margin-top: 8px
}   

.parent-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
.restaurant-nav {
    display: inline-flex;
    justify-content: space-between;    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100 ;
    background-color: white;
    width: 100%;
    border-bottom: 1px grey solid;
    padding-bottom: 3px;
}

.restaurant-nav > p {
    font-size: 16px;
    margin-right: 20px;
    height: 5px;
    cursor: pointer;
}


.restaurant-info{
    margin-left: 170px;
}
.restaurant-info > h1{
    font-size: 45px;
    font-weight: bold;
}
    
.restaurant-info i, p {
    padding: 5px;
}

.restaurant-sidebar {
    margin-right: 170px;
}

.aggregates-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews span{
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
}
  
.reviews p > span{
    padding: 0;
}

.confirm-form-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.confirm-form p{
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

.confirm-form-top-container {
    display: flex;
    justify-content: center;
}

.confirm-rest-info-container {
    display: flex;
}

.confirm-food-pic {
    height: 85px;
    width: 105px;
    border-radius: 5px;
}
  
.confirm-rest-info {
    width: 600px;
    margin-left: 40px;
}

.confirm-rest-info-line {
    display: flex;
}

.confirm-rest-info-line div {
    margin-right: 80px;
}

.confirm-input-box {
    width: 345px;
}

.confirm-form form div {
    display: flex;
}

.confirm-form form button {
    width: 750px
}

.confirm-disclaimers {
    width: 250px;
    height: 340px
}

.user-name {
    margin-left: 143px;
}

.user-page-container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.user-page-sidebar li {
    list-style-type: none;
}

.user-page-sidebar p {
    font-weight: 800;
}

.user-page-link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin-left: 4px;
}

.user-page-reservations-container {
    margin-left: 80px;
}

.user-food-pic {
    height: 135px;
    width: 150px;
    border-radius: 3px;
}

.user-leave-review-link {
    text-decoration: none;
}

.user-leave-review {
    margin-left: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 90px;
    background-color: #db3434;
    color: white;
    font-size: 14px;
}

.user-cancel-button {
    margin-left: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    background-color: #db3434;
    color: white;
    font-size: 14px;
}

.user-item-container {
    display: flex;
}

.user-rest-info > p {
    padding: 0;
    color: rgb(84, 81, 81);
    margin-left: 20px;
}

.user-favorite-removal-button {
    height: 40px;
    background-color: #db3434;
    border: 1px solid black;
    color: white;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 3px;
    text-align: center;
}

.review-text {
    line-height: 1.4;
    margin-left: 3px;
}

.review-info {
    margin: auto;
    width: 50%;
}

.review-radio {
    width: 10px;
}

.review-text-body {
    height: 80px;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.review-text-note  {
    height: 50px;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.reviews-overall {
    margin-left: 8px
}